body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 214, 204);
    
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display:flex;
    align-items: center;
    text-align: center;

}


.logo{
    width: 100px;
    height:auto;
    margin-left: 20px;
    margin-right: auto;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}
h2{
    text-align: center;
    justify-content: center;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.featured-products {
    padding: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    transition: all ease-in;
   animation: cobe 2s forwards;
}

@keyframes cobe{
    from{
        transform: translateY(-10%);
    }
    to{
        transform: translateY(0);
    }
}
.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}